<?php
return [
    'debug' => true,
    'config_cache_enabled' => false,
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    'url' => 'mysql://username:password@localhost/localhost',
                ],
            ],
        ],
    ],
    'login' => [
        'signer' => Lcobucci\JWT\Signer\Hmac\Sha256::class,
        'signatureKey' => 'key',
        'verificationKey' => 'key',
    ],
    'suitwalk' => [
        'next_date' => '', // YYYY-MM-DD
        'meeting-time' => '', // HH:II
        'departure-time' => '', // HH:II
        'return-time' => '', // HH:II
        'dinner-time' => '', // HH:II
        'meeting_point_address' => "",
        'meeting_point_embed_url' => '',
        'meeting_point_additional_information' => [
            'de' => '',
            'en' => '',
        ],
        'restaurant_address' => "",
        'restaurant_embed_url' => '',
        'furbase_thread_url' => '',
        'telegram_group_url' => '',
    ],
];
